.cover-title{
    font-family: 'Raleway', sans-serif;
    font-size: 60px;
    color: #9e7695;
    padding-left: 80px;
}

.cover-info{
    font-family: 'Raleway', sans-serif;
    font-size: 40px;
    color: #9e7695;
    padding-left: 80px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.cover-image{
    width: 90%;
}



